#tabs-top{
	position: absolute;
}
#tabs-top .tab__content {
	background-color: darkgray;
	position: fixed;
	top: 9%;
}
#tabs-bottom {
	position: absolute;
    bottom: 3%;
}
#tabs-bottom .tab__content{
	background-color: darkgray;
	position: fixed;
	top: 9%;
	left: 0;
	width: 100%;
}
.tab {
	float: left;
}
.tab label {
	margin-right: 20px;
	cursor: pointer;
}

.tab [type=radio] {
	display: none;   
}

.tab__content {
	position: absolute;
	left: 0;
	width: 100%;
	opacity: 0;
	height: 85%;
}
.tab__content .container{
	background-color: lightgray;
    padding: 0px 15px;
	height: 100%;
	overflow-y: scroll;
}

[type=radio]:checked ~ label {
	border-bottom: 2px solid #1d1d1d;
	color: #1d1d1d;
	z-index: 2;
}

[type=radio]:checked ~ label ~ .tab__content {
	z-index: 1;
	opacity: 1;
}

@media only screen and (min-width: 600px) {
	#tabs-bottom .tab__content{
		top: 7%;
	}
	#tabs-top .tab__content {
		top: 7%;
	}
}